


/* Header */

.header {
  height: 150px;
}

.header .btn:first-child {
  font-size: 24px;
  color: black;
  background-color: white;
  position: fixed;
}

.header .btn:nth-child(2) {
  display: none;
  font-size: 24px;
  color: white;
  background-color: black;
  position: fixed;
}

.header .day-mode {
  background-color: black;
  color: white;
}

.header nav {
  position: fixed;
}

.header hr {
  position: absolute;
  width: 2px;
  height: 5px;
  color: white;
}

.header p {
  margin-top: 10px;
}

.header .container-fluid {
  background-color: black;
}

.header .container-fluid ul {
  background-color: black;
  height: 60px;
}

.header li {
  font-size: 26px;
  margin-top: 5px;
  margin-left: 12px;
}


/* Filler1 */

.filler1 .jumbotron {
  background-image: url("../img/background-jumbotron.jpg");
  background-size: cover;
  background-repeat: none;
  border-style: solid;
  border-color: black;
  border-width: 6px;
  height: 600px;
}


/* Filler2 */

.filler2 {
  color: gray;
  text-shadow: 0 1px white;
}

.filler2 .container {
  margin-top: 100px;
}

.filler2 h2, {
  text-decoration: underline;
}

.filler2 h3 {
  text-decoration: underline;
  margin-top: 30px;
}

.filler2 li {
  font-size: 20px;
}

.filler2 img {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  width: 100%;
}

.filler2 p {
  margin-top: 20px;
  font-size: 16px;
}


/* Footer */

.footer {
  background-color: black;
}

.footer .container {
  height: 100px;
}

.footer img {
  width: 50px;
  margin-left: 130px;
}

.footer div {
  margin-top: 17px;
}

.footer .copy {
  margin-top: 15px;
  color: white;
}

.footer a {
  color: white;
  text-shadow: none;
  font-size: 20px;
}



/* Extras */

body {
  background-image: url("../img/background-repeat.jpg");
  font-family: monospace;
}

body.night-mode {
  background-image: none;
  background-color: white;
  text-shadow: 2px 3px black;
}

hr {
  margin-top: 80px;
  width: 1300px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

#complicated, em {
  color: white;
  text-shadow: 2px 2px black;
}

a em:hover {
  color: white;
}
